.main-header {
    padding: 15px;
    background-color: #52616f;
}

a{
    color: #f0a500;
}

.navbar-brand {  
    margin-left: 43px
}

@media (max-width: 992px) {
    .nav-item {
        margin-left: 43px
    }
  }